header {
    height: 70px;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    display: flex;
    border-bottom: 2px white solid;
}

.dark-logo {
    position: relative;
}

.dark-logo p {
    text-align: center;
    line-height: 16px;
    color: white;
    margin: 0px;
    font-family: "Inter";
}

.dark-logo .part-1 {
    font-family: "Island Moments";
    font-size: xx-large;
}

.dark-logo .part-2 {
    font-weight: 900;
    font-family: "Inter Bold";
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #9b3c94 !important;
}

.back-button {
    position: absolute;
    top: 50%;
    left: 15px;
    color: white;
    transform: translateY(-50%);
}

.back-button a {
    color: white;
}
